body {

    font-family: 'Inter', sans-serif;
    margin: 0;
    height: 100%;


}

.main-container {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    padding-bottom: 120px;
    gap: 30px;
    min-height: calc(100vh - 100px);



}

.header {
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 30px;

}

.sign-in-card {
    display: flex;
    flex-direction: column;
    width: 250px;

    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 20px;
    gap: 20px;
}

.register-card {
    display: flex;
    flex-direction: column;
    width: 250px;

    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 20px;
    gap: 20px;
}

.sign-in-card input {
    border: none;
    background-color: #D9D9D9;
    padding: 8px;

}

.register-card input {
    border: none;
    background-color: #D9D9D9;
    padding: 8px;

}

.d-flex {
    display: flex;
}

.d-column {
    flex-direction: column;
}

.j-center {
    justify-content: center;
}

.grey-button {
    border: none;
    border-radius: 20px;
    background-color: #000000;
    color: #ffffff;
    padding: 7px;
    width: 150px;
}


.grey-button:hover {
    cursor: pointer;
    background-color: #373737;
}

.footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    min-height: 100px;
    background-color: #000000;
    color: #D9D9D9;



}