body {

    font-family: 'Inter', sans-serif;
    margin: 0;
    height: 100%;


}

.main-container {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding: 30px;

    padding-bottom: 120px;
    gap: 30px;
    min-height: calc(100vh - 100px);



}

.header {
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 30px;

}

.sign-in-card {
    display: flex;
    flex-direction: column;
    width: 250px;

    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 20px;
    gap: 20px;
}

.register-card {
    display: flex;
    flex-direction: column;
    width: 250px;

    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 20px;
    gap: 20px;
}

.sign-in-card input {
    border: none;
    background-color: #D9D9D9;
    padding: 8px;

}

.register-card input {
    border: none;
    background-color: #D9D9D9;
    padding: 8px;

}

.d-flex {
    display: flex;
}

.d-column {
    flex-direction: column;
}

.j-center {
    justify-content: center;
}

.grey-button {
    border: none;
    border-radius: 20px;
    background-color: #000000;
    color: #ffffff;
    padding: 7px;
    width: 150px;
}


.grey-button:hover {
    cursor: pointer;
    background-color: #373737;
}

.footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    min-height: 100px;
    background-color: #000000;
    color: #D9D9D9;

}

.navbar {
    display: flex;
    gap: 20px;
    background-color: #000000;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    border-radius: 20px;

}

.navbar a {
    text-decoration: none;
    color: #D9D9D9;
    font-size: 20px;



}

.navbar a:hover {
    font-weight: 600;
}

.available-movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
}

.table-header {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;


    font-weight: 800;
}

.table-header>div {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.action {
    padding: 0;
    display: flex;
    justify-content: end;
   
}


.table-row {
    display: flex;
    gap: 30px;
    background-color: #D9D9D9;
    border-radius: 20px 0 0 20px;
    align-items: center;
}

.table-row>div {
    flex: 1;
    text-align: center;
}

.check-img {
    height: 16px;
}

.movies-list {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;

}

.rent-btn {
    border: none;
    background-color: #000000;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
    width: 100px;
}

.rent-btn:hover{
    background-color: #292929;
}

.delete{
       padding: 0;
    display: flex;
    justify-content: end;

}

.delete-btn {
    border: none;
    background-color: #d93838;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
    width: 100px;
}

.delete-btn:hover{
    background-color: #bd3131;
}

.time-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.time-btn {
    background-color: #292929;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-weight: 600;
 
}

.time-btn:hover {
    background-color: #3c3c3c;
}

.time-value {
    background-color: #ffffff;
    color: #000000;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 600;
    min-width: 36px;
    text-align: center;
}



